# project files

# music files
*.mp3
*.aac
*.m4a
*.wav
*.flac
*.ogg

# gradle
/build/
/.gradle/
/out/

# eclipse files
.classpath
.project
.settings/
/bin/
/runClient/
/runServer/

# intellij files
/.idea/
*.iml
*.ipr
*.iws

# netbeans files
/.nb-gradle/
*.nb-gradle-properties

.DS_Store
/config/

run/
